#### Setup

In [1]:
### MySQL Connector 
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/mgil/labs/sql/coursera-capstone/venv/lib/python3.10/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /home/mgil/labs/sql/coursera-capstone/venv/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)

### App Code

In [14]:
import mysql.connector as connector

db_user = "root"
db_password = "Test100"
db_name = "little_lemon"
db_host = "127.0.0.1"
db_port = 3300
with connector.connect(host=db_host, port=db_port, user = db_user, password = db_password, database=db_name) as conn:
    with conn.cursor() as c:
        c.execute("show tables")
        print("Tables:")
        for row in c:
            print(row[0])

        campaign_query = """
            select c.name, c.last_name,  c.email, sum(d.cost)
            from orders o 
            join order_detail d
            on o.order_id = d.order_id
            join customer c
            on o.customer_id = c.customer_id
            group by o.order_id
            having sum(d.cost) > 60
        """
        c.execute(campaign_query)

        print("Customer with orders over $60:")

        for row in c:
            print("%s %s, %s, %s" % (row[0], row[1], row[2], row[3]))

Tables:
booking
customer
expensive_orders
menu
menu_item
order_detail
order_status
orders
staff
Customer with orders over $60:
Kathryn Marshall, kathryn_marshall706@yahoo.com, 553.86
Christopher Martin, christopher_martin442@gmail.com, 1284.56
Morgan Arnold, morgan_arnold315@gmail.com, 449.88
Chloe Mahoney, chloe_mahoney874@gmail.com, 1638.62
Cynthia Allen, cynthia_allen647@hotmail.com, 1663.50
Maria Travis, maria_travis832@yahoo.com, 633.83
Keith Colon, keith_colon893@hotmail.com, 2095.34
Amber Morales, amber_morales709@yahoo.com, 485.75
Jessica Barnett, jessica_barnett749@gmail.com, 635.78
Jacob Mendez, jacob_mendez886@gmail.com, 1911.54
Rachel Anderson, rachel_anderson555@gmail.com, 1653.58
Larry Arias, larry_arias562@yahoo.com, 569.88
Samuel Anderson, samuel_anderson454@yahoo.com, 230.88
Jeffrey Thomas, jeffrey_thomas118@hotmail.com, 1161.67
Anthony Young, anthony_young445@yahoo.com, 789.79
Dillon Delacruz, dillon_delacruz775@gmail.com, 1141.69
Robert Walker, robert_walker949@yahoo.com, 484.84
Sabrina Brooks, sabrina_brooks889@yahoo.com, 267.84
Omar Ferguson, omar_ferguson141@gmail.com, 1044.66
Christian Ross, christian_ross593@gmail.com, 230.91
Christopher Baker, christopher_baker561@yahoo.com, 541.83
Jennifer Barker, jennifer_barker536@yahoo.com, 466.89
Casey Duarte, casey_duarte906@hotmail.com, 830.75